<div class="modal fade" id="imgProduct" tabindex="-1" role="dialog" aria-labelledby="imgProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imgProductModalLabel">{{product.description}}</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body"><img [src]="product.filePreview" class="img-thumbnail" [alt]="product.description"></div>
        </div>
    </div>
</div>