<vetweb-navbar>
</vetweb-navbar>

<vetweb-loader>
</vetweb-loader>

<div id="wrapper">

  <vetweb-sidebar>
  </vetweb-sidebar>

  <div id="content-wrapper">

    <div class="container-fluid">

      <vetweb-breadcrumb>
      </vetweb-breadcrumb>

      <ng-content>
      </ng-content>

    </div>
    <!-- /.container-fluid -->

    <vetweb-footer>
    </vetweb-footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<vetweb-scroll>
</vetweb-scroll>

<vetweb-logout-modal>
</vetweb-logout-modal>